# Implement all the process

In [ ]:
%%capture
import csv
import numpy as np
import pandas as pd

from topic_modeling import *

## DataFrame

In [4]:
df = pd.read_csv('database/hotel_review_en_vi_with_distance.csv')

C:\Users\darkn\AppData\Local\Temp\ipykernel_22440\1053113034.py:1: DtypeWarning: Columns (16,17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('database/hotel_review_en_vi_with_distance.csv')

In [5]:
df.head(2),df

,hotel_id,hotel_name,addressline1,city,state,numberrooms,yearopened,yearrenovated,number_of_reviews,rating_average,...,accommodationtype2,accommodationtype3,accommodationtype4,language,reviewer_continent,longitude,latitude,hotel_coordinate,dis2coast,nearest_coordinate
0,163,Ramana Saigon Hotel,"323 Le Van Sy Street, District 3",Ho Chi Minh City,Ho Chi Minh,296.0,1996.0,2015.0,1713,8.1,...,NaN,NaN,NaN,en,Asia,106.678101,10.787597,POINT (106.678101 10.787597),47.465,POINT (11907922.454514029 1165509.8719933222)
1,163,Ramana Saigon Hotel,"323 Le Van Sy Street, District 3",Ho Chi Minh City,Ho Chi Minh,296.0,1996.0,2015.0,1713,8.1,...,NaN,NaN,NaN,en,Asia,106.678101,10.787597,POINT (106.678101 10.787597),47.465,POINT (11907922.454514029 1165509.8719933222)

## Selection